<!DOCTYPE html>
<html>
<head>
    <title>Customer Churn Prediction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="center-container">
        <h1>Customer Churn Prediction</h1>
    </div>

    <form action="/predict" method="POST">
        <label for="age">Age:</label>
        <input type="number" name="age" id="age" required>

        <br><br>
        
        <label for="zip_code">Zip Code:</label>
        <input type="number" name="zip_code" id="zip_code" required>

        <br><br>

        <label for="tenure">Tenure in Months:</label>
        <input type="number" name="tenure" id="tenure" required>

        <br><br>

        <label for="total_revenue">Total Revenue in USD $:</label>
        <input type="text" name="total_revenue" id="total_revenue" required>

        <br><br>

        <label for="married">Is Married:</label><br>
        <input type="radio" name="married" value='1' required> Yes
        <input type="radio" name="married" value="0" required> No<br><br>
        
        <br>
        
        <label for="tech_support">Tech Support Available:</label><br>
        <input type="radio" name="tech_support" value="1" required> Yes
        <input type="radio" name="tech_support" value="0" required> No<br><br>
        
        <br>

        <label for="refered_a_friend">Refered a friend:</label><br>
        <input type="radio" name="refered_a_friend" value="1" required> Yes
        <input type="radio" name="refered_a_friend" value="0" required> No<br><br>
        
        <br>

        <label for="paperless_billing">Paperless Billing:</label><br>
        <input type="radio" name="paperless_billing" value="1" required> Yes
        <input type="radio" name="paperless_billing" value="0" required> No<br><br>
        
        <br>

        <label for="online_security">Online Security Available:</label><br>
        <input type="radio" name="online_security" value="1" required> Yes
        <input type="radio" name="online_security" value="0" required> No<br><br>
        
        <br><br>

        <label for="satisfaction_score">Customer Satisfaction Score:</label>
        <select name="satisfaction_score" id="satisfaction_score" required>
            <option value="5">5 (Very Satisfied)</option>
            <option value="4">4 (Satisfied)</option>
            <option value="3">3 (Okay)</option>
            <option value="2">2 (Unsatisfied)</option>
            <option value="1">1 (Very Unsatisfied)</option>
        </select>

        <br><br>
        
        <label for="contract">Contract Type:</label>
        <select name="contract" id="contract" required>
            <option value="Month-to-month">Month-to-month</option>
            <option value="One year">One Year</option>
            <option value="Two year">Two Years</option>
        </select>

        <br><br>

        <label for="internet_service">Type of Internet Service:</label>
        <select name="internet_service" id="internet_service" required>
            <option value="No">None</option>
            <option value="DSL">DSL</option>
            <option value="Fiber Optic">Fiber Optic</option>
        </select>

        <br><br>

        <label for="offer">Offer Available:</label>
        <select name="offer" id="offer" required>
            <option value="None">None</option>
            <option value="Offer A">Offer A</option>
            <option value="Offer B">Offer B</option>
            <option value="Offer C">Offer C</option>
            <option value="Offer D">Offer D</option>
            <option value="Offer E">Offer E</option>
        </select>
        
        <br><br>

        <label for="payement_method">Offer Available:</label>
        <select name="payement_method" id="payement_method" required>
            <option value="Mailed check">Mailed check</option>
            <option value="Electronic check">Electronic check</option>
            <option value="Bank transfer (automatic)">Bank transfer (automatic)</option>
            <option value="Credit card (automatic)">Credit card (automatic)</option>
        </select>
        
        <br><br>

        <div class="center-container">
            <input type="submit" value="Predict">
        </div>
    </form>
</body>
</html>
